<div class="container text-start">
    <h1>Experiencia</h1>
    <p>Luego de finalizada cada crónica, ya sea basada en la mera exploración de Hochland o en algún asunto específico como un Juramento o misión, el Narrador es el responsable de asignar a cada uno de los personajes involucrados una cantidad de experiencia que estará determinada por los siguientes criterios:</p>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-xs-12">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                      <th scope="col">Criterios</th>
                      <th scope="col">Puntos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>EXPERIENCIA MÍNIMA</td>
                      <td class="text-center">100</td>
                    </tr>
                    <tr>
                        <td>CRÓNICA DE EXPLORACIÓN</td>
                        <td class="text-center">40</td>
                      </tr>
                      <tr>
                        <td>CRÓNICA BASADA EN JURAMENTO O MISIÓN</td>
                        <td class="text-center">60</td>
                      </tr>
                      <tr>
                        <td>PRESENCIA DE CONFLICTOS</td>
                        <td class="text-center">40</td>
                      </tr>
                      <tr>
                        <td>USO DE PSICOLOGÍA Y CONOCIMIENTOS</td>
                        <td class="text-center">20</td>
                      </tr>
                      <tr>
                        <td>USO DE TINIEBLAS</td>
                        <td class="text-center">40</td>
                      </tr>
                      <tr>
                        <td>NUEVOS JURAMENTOS</td>
                        <td class="text-center">100</td>
                      </tr>
                      <tr>
                        <td>DEFENSA DE BASE</td>
                        <td class="text-center">50</td>
                      </tr>
                      <tr>
                        <td>USO DE TÉCNICAS</td>
                        <td class="text-center">30</td>
                      </tr>
                      <tr>
                        <td>JURAMENTO CUMPLIDO O MISIÓN EXITOSA</td>
                        <td class="text-center">150</td>
                      </tr>
                      <tr>
                        <td>SUPERVIVENCIA TOTAL DEL EQUIPO</td>
                        <td class="text-center">50</td>
                      </tr>
                      <tr>
                        <td>RESPETAR LEYES LOCALES</td>
                        <td class="text-center">20</td>
                      </tr>
                      <tr>
                        <td>DESCUBRIR SECRETO</td>
                        <td class="text-center">200</td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>

    <h3>Experiencia mínima</h3>
    <p>Esta se obtiene por el hecho de participar en la crónica… y no morir, obviamente :)</p>
    
    <h3>Crónica de exploración</h3>
    <p>La experiencia obtenida por crónicas de exploración hace referencia a cada vez que un personaje decida su rumbo sin verse sujeto a la directriz de un agente externo, entendiéndose este como alguien de un rango mayor o que posea una influencia significativa sobre el personaje. Para obtener los puntos de experiencia respectivos basta que el personaje no muera en su travesía o aventura.</p>
    
    <h3>Crónica basada en Juramento o Misión</h3>
    <p>La experiencia obtenida por este tipo de crónica se refiere a cada vez que un personaje acepta, desarrolla y/o concluye un Juramento o una Misión encomendada a este. Este tipo de crónicas se destacan por obligar al personaje a cumplir o abordar un objetivo definido. Para obtener los puntos de experiencia basta con que el personaje no muera y aborde o cumpla con el Juramento o Misión. </p>
    
    <h3>Presencia de conflictos</h3>
    <p>En Historias de Titanes es frecuente que un personaje se vea en la situación de combatir con otro, a esto se le denomina “Conflicto”. Para obtener los puntos de experiencia el personaje debe sobrevivir a un Conflicto. Los puntos relativos a la experiencia por Presencia de Conflictos no son por cada Conflicto sino por el hecho de haber vivido esta situación, ya sea una o varias veces dentro de una sesión.</p>
    
    <h3>Uso de psicología y conocimientos</h3>
    <p>Los personajes podrán encontrarse en situaciones donde es primordial el uso de la psicología y conocimientos a su disposición. Por el hecho de hacer uso de alguno de estos aspectos una o reiteradas veces, el personaje recibe la bonificación de experiencia respectiva.</p>
    
    <h3>Uso de Tinieblas</h3>
    <p>Cada vez que el personaje aproveche sus características sobrehumanas de Tinieblas, usando una o varias de estas, es recompensado con los puntos de experiencia respectivos.</p>
    
    <h3>Nuevos Juramentos</h3>
    <p>Por cada Juramento que el personaje adquiera dentro de una misión se verá recompensado por los puntos de experiencia respectivos.</p>
    
    <h3>Defensa de base</h3>
    <p>Muy probablemente, un personaje que posea una base se verá ante la situación de defenderla de forma presencial o remota. Sea cual sea, si la defensa es exitosa el personaje dueño de la base recibirá los puntos de experiencia respectivos.</p>
    
    <h3>Uso de técnicas</h3>
    <p>Independiente del numero de técnicas usadas en Conflictos o fuera de estos, el personaje se ve beneficiado por los puntos de experiencia respectivos.</p>
    
    <h3>Juramento cumplido o misión exitosa</h3>
    <p>Además de recibir puntos por el hecho de aceptar un Juramento o Misión, todo personaje que cumpla sus obligaciones anteriormente señaladas será recompensado con puntos de experiencia.</p>
    
    <h3>Supervivencia total del equipo</h3>
    <p>Se entiende por equipo a todos los personajes involucrados en lograr un mismo objetivo dentro de la sesión, es decir, los personajes usados por los jugadores y cualquier otro complementario. Cabe destacar que para recibir los puntos mencionados en la tabla, es necesario que ninguno de los miembros del equipo muera.</p>
    
    <h3>Respetar leyes locales</h3>
    <p>En todos los distritos existen leyes que gobiernan el comportamiento de las personas. Cualquier violación a alguna de ellas (a criterio del Narrador) impide recibir la recompensa respectiva de puntos de experiencia. </p>
    
    <h3>Descubrir secreto</h3>
    <p>En toda crónica existe cierto artículo, arma, dinero, aliado o información que presenta una gran dificultad para ser descubierto. En el caso de llegar al hallazgo de uno de estos secretos dentro de la sesión, el o los involucrados son automáticamente recompensados por los puntos de experiencia y el secreto mismo.</p>
    <p>Nota: Es de vital ayuda el uso de la Tiniebla “Suerte”.</p>
    
    <p>Nota: ¡El Narrador es libre de otorgaros experiencia luego de muerto! Pero vos no podréis hacer uso de esta. </p>
</div>
