<h1 class="mt-3">Psicologia y Conocimientos</h1>

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link" id="v-pills-armas_cc-tab" data-bs-toggle="pill" data-bs-target="#v-pills-armas_cc" type="button" role="tab" aria-controls="v-pills-armas_cc" aria-selected="true">Armas C.C</button>
    <button class="nav-link" id="v-pills-armas_de_fuego-tab" data-bs-toggle="pill" data-bs-target="#v-pills-armas_de_fuego" type="button" role="tab" aria-controls="v-pills-armas_de_fuego" aria-selected="true">Armas de Fuego</button>
    <button class="nav-link" id="v-pills-armas_larga_distancia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-armas_larga_distancia" type="button" role="tab" aria-controls="v-pills-armas_larga_distancia" aria-selected="true">Armas Larga Distancia</button>
    <button class="nav-link" id="v-pills-etiqueta-tab" data-bs-toggle="pill" data-bs-target="#v-pills-etiqueta" type="button" role="tab" aria-controls="v-pills-etiqueta" aria-selected="true">Etiqueta</button>
    <button class="nav-link" id="v-pills-fisica-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fisica" type="button" role="tab" aria-controls="v-pills-fisica" aria-selected="true">Fisica</button>
    <button class="nav-link" id="v-pills-informatica-tab" data-bs-toggle="pill" data-bs-target="#v-pills-informatica" type="button" role="tab" aria-controls="v-pills-informatica" aria-selected="true">Informatica</button>
    <button class="nav-link" id="v-pills-arqueologia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-arqueologia" type="button" role="tab" aria-controls="v-pills-arqueologia" aria-selected="true">Arqueologia</button>
    <button class="nav-link" id="v-pills-conducir-tab" data-bs-toggle="pill" data-bs-target="#v-pills-conducir" type="button" role="tab" aria-controls="v-pills-conducir" aria-selected="true">Conducir</button>
    <button class="nav-link" id="v-pills-criminalistica-tab" data-bs-toggle="pill" data-bs-target="#v-pills-criminalistica" type="button" role="tab" aria-controls="v-pills-criminalistica" aria-selected="true">Criminalistica</button>
    <button class="nav-link" id="v-pills-linguistica-tab" data-bs-toggle="pill" data-bs-target="#v-pills-linguistica" type="button" role="tab" aria-controls="v-pills-linguistica" aria-selected="true">Linguistica</button>
    <button class="nav-link" id="v-pills-negocios-tab" data-bs-toggle="pill" data-bs-target="#v-pills-negocios" type="button" role="tab" aria-controls="v-pills-negocios" aria-selected="true">Negocios</button>
    <button class="nav-link" id="v-pills-ocultismo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ocultismo" type="button" role="tab" aria-controls="v-pills-ocultismo" aria-selected="true">Ocultismo</button>
    <button class="nav-link" id="v-pills-quimica-tab" data-bs-toggle="pill" data-bs-target="#v-pills-quimica" type="button" role="tab" aria-controls="v-pills-quimica" aria-selected="true">Quimica</button>
    <button class="nav-link" id="v-pills-simpatia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-simpatia" type="button" role="tab" aria-controls="v-pills-simpatia" aria-selected="true">Simpatia</button>
    <button class="nav-link" id="v-pills-persuasion-tab" data-bs-toggle="pill" data-bs-target="#v-pills-persuasion" type="button" role="tab" aria-controls="v-pills-persuasion" aria-selected="true">Persuasion</button>
    <button class="nav-link" id="v-pills-pilotear_navegar-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pilotear_navegar" type="button" role="tab" aria-controls="v-pills-pilotear_navegar" aria-selected="true">Pilotear/Navegar</button>
    <button class="nav-link" id="v-pills-autocontrol-tab" data-bs-toggle="pill" data-bs-target="#v-pills-autocontrol" type="button" role="tab" aria-controls="v-pills-autocontrol" aria-selected="true">Autocontrol</button>
    <button class="nav-link" id="v-pills-trato_con_animales-tab" data-bs-toggle="pill" data-bs-target="#v-pills-trato_con_animales" type="button" role="tab" aria-controls="v-pills-trato_con_animales" aria-selected="true">Trato con animales</button>
    <button class="nav-link" id="v-pills-topografia_geologia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-topografia_geologia" type="button" role="tab" aria-controls="v-pills-topografia_geologia" aria-selected="true">Topografia/ Geologia</button>
    <button class="nav-link" id="v-pills-supervivencia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-supervivencia" type="button" role="tab" aria-controls="v-pills-supervivencia" aria-selected="true">Supervivencia</button>    
  </div>

  <div class="tab-content container text-start" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-armas_cc" role="tabpanel" aria-labelledby="v-pills-armas_cc-tab">
        <h3> Armas Cuerpo a Cuerpo</h3>
        <p>Es el conocimiento y entrenamiento en los distintos tipos de armas cuerpo a cuerpo, partiendo por armas simples como un puñal hasta llegar a armas exóticas como un Urgrosh enano. </p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped table-sm">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0</td>
                          <td>Sin conocimiento.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Armas sencillas.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Armas sencillas.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Armas marciales.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Armas marciales</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Armas marciales.</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Armas exóticas.</td>
                        </tr>                           
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-armas_de_fuego" role="tabpanel" aria-labelledby="v-pills-armas_de_fuego-tab">
        <h3>Armas de fuego</h3>
        <p>Es el conocimiento y entrenamiento en los distintos tipos de armas de fuego, partiendo de calibres pequeños como una pistola Automag hasta un arma pesada como un Lanzallamas.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0</td>
                          <td>Sin conocimiento.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Pistolas.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Revólveres.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Subfusiles/ametralladoras ligeras.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Rifles.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Fusiles de asalto.</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Escopetas.</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Armas pesadas.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-armas_larga_distancia" role="tabpanel" aria-labelledby="v-pills-armas_larga_distancia-tab">
        <h3>Armas Larga Distancia</h3>
        <p>Es el conocimiento y entrenamiento en los distintos tipos de armas de larga distancia que no utilizan pólvora.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>Sin conocimiento.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Distancia: 0-10 metros.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Distancia: 0-50 metros</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Distancia: 0-80 metros</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Distancia: 0-120 metros</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-etiqueta" role="tabpanel" aria-labelledby="v-pills-etiqueta-tab">
        <h3>Etiqueta</h3>
        <p>Es el conocimiento de normas de protocolo y vestimenta para distintas ocasiones o círculos sociales.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>El personaje incomoda al resto por sus conductas sociales, modales y vestimenta</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>El personaje fue educado para establecer relaciones con un margen de respeto entendiendo su posición.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>El personaje sabe mimetizarse en la mayoría de los círculos sociales.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje se destaca por su pulcritud, modales y vestimenta en los más exquisitos círculos sociales.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-fisica" role="tabpanel" aria-labelledby="v-pills-fisica-tab">
        <h3>Fisica</h3>
        <p>Es el conocimiento de esta ciencia en diferentes niveles, el cual le permite hacer uso de esta disciplina para sus propios fines, ya sean laborales, académicos y/o armamentísticos.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Estudios</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Estudiante: comprende teóricamente parte de la disciplina pero no es capaz de materializar sus conocimientos.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Profesor: es capaz de recibir una remuneración promedio mensual de 1.200 rupias trabajando con el conocimiento en esta disciplina.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Doctor: sus conocimientos le permiten trabajar en distintas universidades por una remuneración promedio mensual de 3.000 rupias.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Eminencia: su conocimiento le da el derecho a recibir 10.000 rupias mensuales.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-informatica" role="tabpanel" aria-labelledby="v-pills-informatica-tab">
        <h3>Informatica</h3>
        <p>Es conocimiento en esta área a distintos niveles, el cual le permite al personaje hacer uso de esta disciplina para sus propios fines, ya sean laborales u otro fin que estime conveniente.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Estudios</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Amateur: comprende teóricamente parte de la disciplina pero no es capaz de materializar sus conocimientos.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Experimentado: es capaz de conseguir un ingreso promedio mensual de 420 rupias trabajando con el conocimiento en esta disciplina.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Veterano: sus conocimientos le permiten administrar empresas virtuales, con lo cual recibe ingresos mensuales promedio de 5.000 rupias.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Hacker: su conocimiento le permite recibir 40.000 rupias mensuales, y un nivel de hackeo global: 
                                <ul>
                                    <li>Acceso a cuentas bancarias sin ser percibido (límite 40.000 rupias).</li>
                                    <li>Acceso a bases de datos para encontrar todo tipo de personas.</li>
                                </ul> 
                            </td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-arqueologia" role="tabpanel" aria-labelledby="v-pills-arqueologia-tab">
        <h3>Arqueologia</h3>
        <p>Es el conocimiento en esta área a distintos niveles, el cual le permite al personaje hacer uso de esta disciplina para sus propios fines, ya sean laborales u otro fin que estime conveniente.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Estudios</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Posee los conocimientos para realizar descubrimientos de tesoros de un valor aproximado de 100 rupias. Por ejemplo: encontrar artefactos de la familia, perdidos en su propia casa.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Posee los conocimientos e instrumentos para realizar descubrimientos de tesoros de un valor aproximado de 5.000 rupias.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Posee los conocimientos e instrumentos para realizar descubrimientos de grandes tesoros, de un valor aproximado de 100.000 rupias.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Posee los conocimientos e instrumentos para realizar descubrimientos de tesoros invaluables.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>    
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-conducir" role="tabpanel" aria-labelledby="v-pills-conducir-tab">
        <h3>Conducir</h3>
        <p>Es la capacidad del personaje para manejar en un vehículo.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bicicleta.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Vehículos sin transmisión.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Auto-motocicleta-vehículos de uso particular en ciudad.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Vehículos urbanos de carga (camiones 3/4, furgones de carga, etc.).</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Vehículos de carga pesada (camiones de alto tonelaje, buses, etc.).</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Vehículos militares (tanques, camionetas tipo hummer, etc.)</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>  
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-criminalistica" role="tabpanel" aria-labelledby="v-pills-criminalistica-tab">
        <h3>Criminalistica</h3>
        <p>El personaje tiene conocimientos en esta disciplina, los cuales puede usar para discernir lo ocurrido en una escena.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>El personaje plantea hasta tres hipótesis de lo ocurrido.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>El personaje distingue lo ocurrido y sabe la cantidad y roles de los involucrados en una escena.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje distingue características de los involucrados.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>El personaje descifra a la perfección las causas o detonantes de una escena, incluyendo todas sus particularidades.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-linguistica" role="tabpanel" aria-labelledby="v-pills-linguistica-tab">
        <h3>Linguistica</h3>
        <p>Es el dominio de idiomas.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>Analfabeto</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Lengua común + materna</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>+1 lengua extra</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>+2 lengua extra</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>+3 lengua extra</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>+4 lenguas extra</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>+5 lenguas extra</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>+6 lenguas extra</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>+7 lenguas extra</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>+8 lenguas extra</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>+9 lenguas extra</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>      
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-negocios" role="tabpanel" aria-labelledby="v-pills-negocios-tab">
        <h3>Negocios</h3>
        <p>Es la capacidad del personaje para invertir su capital y multiplicarlo a través de distintas empresas, negocios u otras transacciones.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Es capaz de aumentar en un 50% su capital.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>El personaje es capaz de triplicar su capital en distintos tipos de inversiones*</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje es capaz de quintuplicar su capital en distintos tipos de inversiones*</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>El personaje es capaz de multiplicar por diez su capital en distintos tipos de inversiones*</td>
                        </tr>
                        <tr>
                            <td colspan="2">*En cada inversión, el jugador lanza un dado para ver si es exitosa o un fracaso.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>            
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-ocultismo" role="tabpanel" aria-labelledby="v-pills-ocultismo-tab">
        <h3>Ocultismo</h3>
        <p>Son los conocimientos en las artes ancestrales que facultan al personaje a tener contacto con planos trascendentales.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Posee conocimientos básicos de astrología. Es capaz de identificar algunas prácticas esotéricas básicas; por ejemplo: tarot, cartas astrales, trabajos con piedras energéticas, entre otras.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>El personaje tiene capacidades para escuchar susurros de seres en otros planos.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje tiene capacidades para ver entes sutiles y tener premoniciones. Luego de realizar alguna práctica de este tipo el personaje debe sopesar sus consecuencias*</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>El personaje es capaz de establecer comunicación con alguna entidad de otro plano**, es atormentado por fenómenos paranormales como estigmas, golpes, gritos, movimiento de objetos, entre otros*</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>El personaje es capaz de dar vida a un cuerpo en buenas condiciones imbuyéndole el alma de un ser convocado**. (Esta invocación amerita medio día de preparación y el invocado se mantiene en este plano por una hora).</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>El personaje es capaz de dar vida a cualquier cuerpo (inclusive cenizas), imbuyéndole el alma de un ser convocado**. (Esta invocación amerita un día completo de preparación y el invocado vuelve a la vida con voluntad propia).</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>El personaje es capaz de dar vida a cualquier cuerpo (inclusive cenizas), imbuyéndole el alma de un ser convocado**. (Esta invocación amerita un día completo de preparación y el invocado vuelve a la vida bajo las órdenes del invocador.)</td>
                        </tr>
                        <tr>
                            <td colspan="2">*Requiere lanzar un dado. Si fracasa, el personaje recibirá un impacto de 10 Puntos de Frènesis, donde 3 de ellos no serán recuperables en el plazo de un mes.</td>
                        </tr>
                        <tr>
                            <td colspan="2">**El jugador debe lanzar un dado para determinar si la presencia a llamar es la solicitada.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-quimica" role="tabpanel" aria-labelledby="v-pills-quimica-tab">
        <h3>Quimica</h3>
        <p>Es el conocimiento en esta ciencia a distintos niveles, el cual le permite al personaje hacer uso de esta disciplina para sus propios fines, ya sean laborales, académicos y/o armamentísticos. </p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Estudios</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Estudiante: comprende teóricamente parte de la disciplina pero no es capaz de materializar sus conocimientos.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Profesor: es capaz de recibir una remuneración promedio mensual de 1.200 rupias trabajando con el conocimiento en esta disciplina.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Doctor: sus conocimientos le permiten trabajar en distintas universidades por una remuneración promedio mensual de 3.000 rupias.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Eminencia: su conocimiento le da el derecho a recibir 10.000 rupias mensuales.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-simpatia" role="tabpanel" aria-labelledby="v-pills-simpatia-tab">
        <h3>Simpatia</h3>
        <p>Es la cualidad que posee el personaje para ganar la confianza de su entorno.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>Antipático, su mera presencia genera mal ambiente. Esto implica el rechazo absoluto de todo tipo de personas.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Eres un extraño para el resto.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Generas cierto grado de confianza en las personas.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje emana seguridad con su presencia. El resto de los personajes se sienten refugiados junto a él.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Las personas buscan su asociación o compañía en todo momento y cualquier manera de interactuar con el personaje.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-persuasion" role="tabpanel" aria-labelledby="v-pills-persuasion-tab">
        <h3>Persuasion</h3>
        <p>Es la capacidad que posee el personaje para insertar una idea o conducta en otra persona a través de un proceso sugestivo.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Las palabras del personaje llaman la atención del receptor.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>El mensaje del personaje se mantiene en la memoria del receptor.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje hace dudar al receptor respecto al mensaje emitido.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>El receptor se inclina a ceder ante el mensaje del personaje.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>El personaje es capaz de implantar una idea en su objetivo luego de haber sido influenciado en los cuatro niveles anteriores.</td>
                        </tr>
        
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-pilotear_navegar" role="tabpanel" aria-labelledby="v-pills-pilotear_navegar-tab">
        <h3>Pilotear / Navegar</h3>
        <p>Es la habilidad y conocimiento que posee el personaje para conducir navíos y aviones de distinta envergadura.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Pilotear</th>
                          <th scope="col">Navegar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>-</td>
                            <td>El personaje es incapaz de flotar por sí mismo; no sabe nadar.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Avionetas</td>
                            <td>Bote pesquero</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Helicópteros</td>
                            <td>Lancha a motor / Motos de agua</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Aviones comerciales</td>
                            <td>Barcos</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Aviones militares (helicópteros, jets, etc.)</td>
                            <td>Navíos militares, comerciales, fragatas, entre otros.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Cohete espacial</td>
                            <td>Submarinos y portaaviones</td>
                        </tr>
        
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-autocontrol" role="tabpanel" aria-labelledby="v-pills-autocontrol-tab">
        <h3>Autocontrol</h3>
        <p>Es la capacidad que posee el personaje para oponer resistencia ante cualquier influencia externa que vulnere su código de conducta.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-4"> 
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>El personaje es inestable ante cualquier influencia.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>El personaje posee un código propio de conducta y valores.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>El personaje discrimina en su actuar de acuerdo a su conveniencia.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>El personaje no duda en su actuar de acuerdo a sus valores más propios.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>La templanza de personaje le impide ceder ante influencias externas.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>El personaje es inmune a cualquier influencia que afecte a su integridad.</td>
                        </tr>
        
                    </tbody>
                </table>        
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-trato_con_animales" role="tabpanel" aria-labelledby="v-pills-trato_con_animales-tab">
        <h3>Trato con Animales</h3>
        <p>Es la cercanía, relación y el conocimiento que posee el personaje para interactuar y controlar animales; desde domésticos como perros, gatos, hámsteres, entre otros, hasta animales más hostiles como lobos salvajes, tigres, tiburones, etc.</p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>La relación entre personaje y animal es totalmente hostil.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Cuidado básico de animales domésticos sin generar lazos de confianza.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Simpatía con animales domésticos.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Adiestramiento con animales domésticos.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Conocimientos básicos de alimentación, hábitat de animales salvajes.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Simpatía con animales salvajes.</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Adiestramiento con animales salvajes.</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Comunicación total con los animales a través de energías extrañas.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-topografia_geologia" role="tabpanel" aria-labelledby="v-pills-topografia_geologia-tab">
        <h3>Topografia / Geologia</h3>
        <p>Es el conocimiento en esta ciencia a distintos niveles, el cual le permite al personaje hacer uso de esta disciplina para sus propios fines, ya sean laborales o académicos. </p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Estudios</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Estudiante: comprende teóricamente parte de la disciplina pero no es capaz de materializar sus conocimientos.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Alarife: es capaz de recibir una remuneración promedio mensual de 800 rupias trabajando como asistente de un topógrafo con mayor experiencia.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Topógrafo: sus conocimientos le permiten trabajar en distintas empresas por una remuneración promedio mensual de 1.900 rupias.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Topógrafo independiente: su conocimiento le permite trabajar de forma independiente sin necesidad de un jefe ganando 3.500 rupias mensuales.</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-supervivencia" role="tabpanel" aria-labelledby="v-pills-supervivencia-tab">
        <h3>Supervivencia</h3>
        <p>Son los conocimientos del personaje para encontrar fuentes de alimentos, agua y construir pequeños refugios en lugares inhóspitos. </p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12 ">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>0</td>
                            <td>El personaje es incapaz de llevar la presión de sobrevivir sin recursos en lugares inhóspitos*.</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Los conocimientos del personaje le permiten asentarse en un lugar bajo un techo precario.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Los conocimientos del personaje le permiten recolectar una mayor cantidad de suministros de la fuente de la cual fueron extraídos. +20% de suministro, entiéndase como agua y comida.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Los conocimientos del personaje le permiten recolectar una mayor cantidad de suministros de la fuente de la cual fueron extraídos. +40% de suministro, entiéndase como agua y comida.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Los conocimientos del personaje le permiten recolectar una mayor cantidad de suministros de la fuente de la cual fueron extraídos. +60% de suministro, entiéndase como agua y comida.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Los conocimientos del personaje le permiten recolectar una mayor cantidad de suministros de la fuente de la cual fueron extraídos. +80% de suministro, entiéndase como agua y comida.</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Los conocimientos del personaje le permiten recolectar una mayor cantidad de suministros de la fuente de la cual fueron extraídos. +100% de suministro, entiéndase como agua y comida. La veterana experiencia del usuario le permite encontrar suministros en lugares inimaginables**.</td>
                        </tr>
                        <tr>
                            <td colspan="2">*El personaje pierde 1 Punto en Frènesis y 1 Punto en Potencialidad por cada hora que transcurre en desorientación y/o con falta de alimento e hidratación.</td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">**El personaje lanza un dado, si este es éxito encuentra de inmediato una fuente de alimento o hidratación equivalente a un 100% de curación para una persona. Esta habilidad se puede usar sólo una vez por día.</td>
                            
                        </tr>
        
                      </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
  </div>

    
    
    
    
    
</div>
    <%= button_to 'Salir', characters_path, method: 'get', class:"my-4 btn btn-danger"%>

