<div class="row">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <div class="row">
            <h2 class="text-center">Arsenal</h2>
            <%= form_with(model: [ @character, @character.weapons.build ], url: character_weapon_path(@character), method: "patch") do |form| %>
            <div clas="row">
                <div class="col-md-5 col-xs-12">
                    <%# Arma 1 %>
                    <div class="text-start d-flex">
                        <div class="col-md-6">
                            <p>Selecciona un arma:</p>
                        </div>
                        <div class="col-md-8">
                            <%= form.collection_select :id_arma1, Arma.all.order(:nombre), :id, :nombre, options = {:prompt => 'Selecciona un arma'}, html_options = {class: "form-select form-select-sm col-md-4"}%>                    
                        </div>
                    </div>
                    <%# Buscar arma %>
                    <div>
                        <%= form.submit 'Agregar Arma 1', class:'btn btn-danger'%>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">

                </div>
            </div>
        </div>
        
        <% end %>
        
    </div>

    <div class="col-md-2 col-xs-12"></div>
</div>




<script>
    let  radio = document.getElementsByClassName("form-check-input");
    radio = Object.values(radio);
    radio.forEach(check => {
        check.addEventListener('click', function () {
            x = this
        })
    });
</script>